In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                    title  year
0         College Holiday  1936
1    Di Atas Kanvas Cinta  2009
2  Il maestro di Vigevano  1963
3            Mine vaganti  2010
4          One Jump Ahead  1955

In [5]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

221456

### What are the earliest two films listed in the titles dataframe?

In [7]:
#titles.head()
titles.columns

Index(['title', 'year'], dtype='object')

In [8]:
titles.sort_values(by=['year']).head()

                                                    title  year
7273                                           Miss Jerry  1894
46960      Reproduction of the Corbett and Jeffries Fight  1899
14308                                Family Troubles (II)  1900
24952                            Trouble in Hogan's Alley  1900
112432  Pierrot's Problem, or How to Make a Fat Wife O...  1900

In [9]:
earliest = titles.sort_values(by=['year'])
earliest.iloc[0,0]

'Miss Jerry'

In [10]:
earliest.iloc[1,0]

'Reproduction of the Corbett and Jeffries Fight'

### How many movies have the title "Hamlet"?

In [11]:
hamlet = titles[titles['title'].str.contains("Hamlet")]
hamlet.head()

                    title  year
4465               Hamlet  1990
18702         Fuck Hamlet  1996
20680  Han, hun og Hamlet  1932
24343              Hamlet  1976
25474      Hamlet Unbound  2012

In [12]:
len(hamlet)

56

### How many movies are titled "North by Northwest"?

In [13]:
northwest = titles[titles['title'].str.contains("North by Northwest")]
northwest.head()

                     title  year
164352  North by Northwest  1959

In [14]:
len(northwest)

1

### When was the first movie titled "Hamlet" made?

In [15]:
hamlet.iloc[0,1]

1990

### List all of the "Treasure Island" movies from earliest to most recent.

In [16]:
treasure_island = titles[titles.title == 'Treasure Island'].sort_values(by='year')
treasure_island

                  title  year
22634   Treasure Island  1918
64488   Treasure Island  1920
33403   Treasure Island  1934
20464   Treasure Island  1950
18802   Treasure Island  1972
30870   Treasure Island  1973
46736   Treasure Island  1985
179800  Treasure Island  1999

### How many movies were made in the year 1950?

In [17]:
in_1950 = titles[(titles.year == 1950)]
len(in_1950)

1039

### How many movies were made in the year 1960?

In [18]:
in_1960 = titles[(titles.year == 1960)]
len(in_1960)

1483

### How many movies were made from 1950 through 1959?

In [19]:
in_1950s = titles[(titles.year // 10 == 195)]
len(in_1950s)

12234

### In what years has a movie titled "Batman" been released?

In [20]:
#years_batman = titles[titles.title == 'Batman']
years_batman = titles.loc[titles.title == 'Batman'].year
#df2[df2['E'].isin(['two','four'])] #select column E in df2 where theer is a two and four
#titles[titles]
years_batman

73277    1943
76492    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [21]:
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [22]:
inception_roles = cast[cast.title == 'Inception']
inception_roles.head()

,title,year,name,type,character,n
89684,Inception,2010,Michael (III) August,actor,LAX Passenger,NaN
136266,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44
168585,Inception,2010,Tom Berenger,actor,Browning,8
181416,Inception,2010,Ken Bhan,actor,Mombasan Gambler,NaN
238807,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29

In [23]:
len(inception_roles)

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [24]:
len(inception_roles[pd.isnull(inception_roles['n'])])
#df = df[pd.notnull(df['EPS'])]
#df[~np.isnan(df.EPS)]
#df1.loc['a']>0
#df1.loc[:,df1.loc['a']>0]
#inception_roles['n'.isnull.()]
#n_ranked_roles = inception_roles['n'].isnull()
#not_ranked_roles= n_ranked_roles["True"]
#not_ranked_roles.head()

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [25]:
ranked_roles = inception_roles['n'].dropna()
ranked_roles.head()

136266    44
168585     8
238807    29
300758    11
306880    20
Name: n, dtype: float64

In [26]:
len(ranked_roles)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [27]:
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [28]:
north_by_northwest = cast[cast.title == 'North by Northwest']
north_by_northwest = north_by_northwest.sort_values(by = 'n').dropna()
north_by_northwest[['name','n']]

                         name   n
804531             Cary Grant   1
3213213       Eva Marie Saint   2
1344970           James Mason   3
2891658   Jessie Royce Landis   4
328499         Leo G. Carroll   5
2795782  Josephine Hutchinson   6
1565318           Philip Ober   7
1176515         Martin Landau   8
2256893         Adam Williams   9
1672061          Edward Platt  10
614470      Robert Ellenstein  11
2117247          Les Tremayne  12
428231        Philip Coolidge  13
1392718         Patrick McVey  14
189211           Edward Binns  15
1277921             Ken Lynch  16

In [29]:
north_by_northwest.loc[:,['name','n']]

                         name   n
804531             Cary Grant   1
3213213       Eva Marie Saint   2
1344970           James Mason   3
2891658   Jessie Royce Landis   4
328499         Leo G. Carroll   5
2795782  Josephine Hutchinson   6
1565318           Philip Ober   7
1176515         Martin Landau   8
2256893         Adam Williams   9
1672061          Edward Platt  10
614470      Robert Ellenstein  11
2117247          Les Tremayne  12
428231        Philip Coolidge  13
1392718         Patrick McVey  14
189211           Edward Binns  15
1277921             Ken Lynch  16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [30]:
sleuth = cast[cast.title == "Sleuth"]
sleuth_1972 = sleuth[sleuth['year']== 1972].sort_values(by = 'n')
#sleuth = sleuth[sleuth.year == 1972]
sleuth_1972

,title,year,name,type,character,n
1574525,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
300786,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
344453,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1352544,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2506251,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1337248,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [31]:
sleuth_2007 = sleuth[sleuth['year']== 2007].sort_values(by = 'n')
#sleuth = sleuth[sleuth.year == 1972]
sleuth_2007

          title  year                 name     type          character   n
300787   Sleuth  2007        Michael Caine    actor             Andrew   1
1193622  Sleuth  2007             Jude Law    actor               Milo   2
1667054  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
238911   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
344454   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2506250  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3081929  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [32]:
hamlet = cast[cast.title == 'Hamlet']
hamlet_1921 = hamlet[hamlet.title == 'Hamlet']
hamlet_1921 = len(hamlet_1921[hamlet_1921.year == 1921])
hamlet_1921

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [33]:
hamlet_1996 = hamlet[hamlet.title == 'Hamlet']
hamlet_1996 = len(hamlet_1996[hamlet_1996.year == 1996])
hamlet_1996

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [34]:
hamlet_roles = cast[cast.character == 'Hamlet']
len(hamlet_roles)

87

### How many people have played an "Ophelia"?

In [35]:
ophelia = cast[cast.character == 'Ophelia']
len(ophelia)

101

### How many people have played a role called "The Dude"?

In [36]:
dude = cast[cast.character == 'The Dude']
len(dude)

17

### How many people have played a role called "The Stranger"?

In [37]:
stranger = cast[cast.character == 'The Stranger']
len(stranger)

203

### How many roles has Sidney Poitier played throughout his career?

In [38]:
poitier = cast[cast.name == 'Sidney Poitier']
len(poitier)

43

### How many roles has Judi Dench played?

In [39]:
dench = cast[cast.name == 'Judi Dench']
len(dench)

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [40]:
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [44]:
grant = cast[cast.name == 'Cary Grant']
grant_40s = grant[grant.year // 10 == 194]
grant_40s_support = grant_40s[grant_40s.n == 2]
grant_40s_support

                   title  year        name   type    character  n
804528  My Favorite Wife  1940  Cary Grant  actor         Nick  2
804538    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [45]:
grant_40s_lead = grant_40s[grant_40s.n == 1]
grant_40s_lead

,title,year,name,type,character,n
804493,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
804501,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
804505,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
804510,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
804514,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1
804525,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
804526,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
804527,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
804529,Night and Day,1946,Cary Grant,actor,Cole Porter,1
804530,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
804532,Notorious,1946,Cary Grant,actor,Devlin,1
804534,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
804535,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
804543,Suspicion,1941,Cary Grant,actor,Johnnie,1
804549,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
804550,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
804553,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
804555,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
804557,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1

### How many roles were available for actors in the 1950s?

In [42]:
roles_1950s = cast[cast.year // 10 ==195]
len(roles_1950s)

207336

In [43]:
roles_1950 = cast[[cast['year'] > 1949 and [cast['year']< 1960]]]
roles_1950

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### How many roles were avilable for actresses in the 1950s?

In [ ]:
actresses = roles_1950s[roles_1950s.type == 'actress']
len(actresses)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [48]:
roles_before80s = cast[cast.year < 1981]
leading_roles = roles_before80s[roles_before80s.n == 1]
len(leading_roles)

62749

### How many non-leading roles were available through from the beginning of film history through 1980?

In [49]:
non_leading_roles = roles_before80s[roles_before80s.n != 1]
len(non_leading_roles)

1075418

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [46]:
roles_before80s = cast[cast.year < 1981]
len(roles_before80s[pd.isnull(roles_before80s['n'])])

429598